<section class="dashboard">
  <header class="header">
    <h2>Usuarios</h2>
    <button mat-fab extended color="error" (click)="openNewUserDialog()">
      <mat-icon>add</mat-icon>
      Agregar nuevo usuario
    </button>
  </header>
  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{getUserName(element.idUser)}}  </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.email}}  </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{ element.status ? 'habilitado' : 'deshabilitado'}}</td>
    </ng-container>

    <ng-container matColumnDef="sessionActive">
      <th mat-header-cell *matHeaderCellDef> Sesión activa </th>
      <td mat-cell *matCellDef="let element"> {{ element.sessionActive ? 'activa' : 'inactiva'}}</td>
    </ng-container>

    <ng-container matColumnDef="lastSession">
      <th mat-header-cell *matHeaderCellDef> Inicio última sesión </th>
      <td mat-cell *matCellDef="let element"> {{ element.startDate | date: 'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{ element.roleName }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Edit icon button"
        matTooltip="Editar"
        matTooltipShowDelay="1000"
        (click)="openUpdateUserDialog(element.idUser)"
        [disabled]="!getPermission(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="Edit icon button"
        [matTooltip]="getStatusLabel(element.status)"
        matTooltipShowDelay="1000"
        (click)="toggleUserStatus(element)"
        [disabled]="getStatusPermission(element)"
        >
        @if (element.status) {
          <mat-icon>person_off</mat-icon>
        }
        @else {
          <mat-icon>person</mat-icon>
        }
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

