:host {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.form {
  max-width: 500px;
  padding: 2rem;
  border-radius: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #696969;
  gap: 1rem;
  justify-content: center;
}

.title {
  text-align: center;
}
