/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  color-scheme: dark;
  background-color: #2f2f2f;
  color: #fff;
}

.main {
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
